altair
async-generator
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
chromedriver-autoinstaller
click
colorama
customtkinter
darkdetect
decorator
exceptiongroup
geographiclib
geopy
gitdb
GitPython
h11
idna
importlib-metadata
instagrapi
itsdangerous
Jinja2
jsonschema
langdetect
langid
markdown-it-py
MarkupSafe
mdurl
numpy
outcome
packaging
pandas
Pillow
protobuf
pyarrow
pycountry
pycparser
pycryptodomex
pydantic
pydeck
Pygments
Pympler
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
selenium
six
smmap
sniffio
sortedcontainers
streamlit
tenacity
toml
toolz
tornado
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wsproto
zipp
reportlab